In [75]:
import pandas as pd

Label Encoding Iris Dataset

In [76]:
iris_df= pd.read_csv('Iris.csv')

In [77]:
iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

AUTOMATING THE LABELLING FUNCTION

function label_encoder() accepts 1 parameters DataFrame itself, function will automatically recognize categorical data label it accordingly.

ps: Function will only categorize Objects data type and will not work on any other data type.

In [78]:
def label_encoder(data):
    meta_labels={}
    categorical_data=[x for x in data.columns if data[x].dtype == 'O']
    for cat in categorical_data:
            unique_cat=data[cat].unique()
            meta_labels[cat]={unique_cat[x]: x for x in range(len(unique_cat))}
    
    
    label_data=data.replace(meta_labels)
    return label_data

Testing label_encoder() on Iris dataset

In [79]:
label_encoder(iris_df).head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

Testing label_encoder() on best-selling-game-consoles dataset

In [80]:
best_selling_df= pd.read_csv('best-selling game consoles.csv')
best_selling_df.head()

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
0,PlayStation 2,Home,Sony,2000,2013,155.00,Final sales are greater than 155 million
1,Nintendo DS,Handheld,Nintendo,2004,2013,154.02,NaN
2,Nintendo Switch,Hybrid,Nintendo,2017,0,122.55,NaN
3,Game Boy,Handheld,Nintendo,1989,2003,64.42,The Game Boy (1989) and the Game Boy Color (19...
4,Game Boy Color,Handheld,Nintendo,1998,2003,44.06,NaN

In [81]:
label_encoder(best_selling_df).head()

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
0,0,0,0,2000,2013,155.00,0
1,1,1,1,2004,2013,154.02,1
2,2,2,1,2017,0,122.55,1
3,3,1,1,1989,2003,64.42,2
4,4,1,1,1998,2003,44.06,1